.controls {
    position: absolute;
    top: 10px;
    left: 10px;
}
.btn-control {
    padding: 2px 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 10px;
    color: #2a0b52;
}
.img-num {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .5);
    padding: 4px 10px;
    text-align: center;
    width: 50px;
    border-radius: 5px;
    color: #eee;
    font-size: 12px;
}
