.btn-screen {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 2px 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 10px;
    color: #2a0b52;
}

.canvas {
    position: absolute;
    transform-origin: 0 0;
    top: 50%;
    left: 50%;
}
#canvas {
    transform: scale(0.41) translate(-50%, -50%);
    margin-top: -110px;

}
#canvas-elements {
    transform: scale(0.41) translate(-50%, -50%);
    margin-top: 80px;
}
